@import "./colors.css";
@import "./component.css";
@import "./layout.css";

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
